# Flutter
.dart_tool/
.pub-cache/
.packages
build/

# Android specific
android/.gradle/
android/local.properties
android/app/build/
android/.idea/
android_backup/
*.iml
.cxx/

# Keystore (jangan share)
*.keystore
*.jks
key.properties

# VS Code
.vscode/

# Others
captures/
